// COLORS
$color-black: black;

$color-dark-gray: #2f2f2f;
$color-gray: #444;
$color-light-gray: #868686;

$color-white: white;

$color-purple-dark: #501aa8;
$color-purple-light: #870de8;

// BORDER RADIUS
$border-radius-nav-dropdown: 1rem;
$border-radius-button: 0.6rem;
