@import '../../../sass/variables';

.nav-categories {
  position: relative;

  &:hover &__box {
    opacity: 1;
    display: flex;
  }

  &__item {
    text-decoration: none;
    text-transform: capitalize;
    line-height: 3.9rem;
    color: $color-white;
    font-size: 1.8rem;
  }

  &__arrow {
    height: 0.6rem;
    width: 0.8rem;
    margin: 0 0 0.4rem 0.5rem;
  }

  &__box {
    position: absolute;
    opacity: 0;
    display: none;
  }
}
